*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(
        #242424,
        #595959
    ) 0 100% no-repeat;
    background-size: 100% 50%;
}
.container{
    width: 500px;
    padding: 50px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    box-shadow: 0 15px 25px rgba(50,50,50,0.15);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    font-family: "Poppins",sans-serif;
    text-align: center;
}
.dice-wrapper{
    width: 69%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
}
.tallys{
    font-size: 16px;
    margin: 0 auto;
    font-weight: 500;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
span {
    width: 120px;
    height: 50px;
    background: white;
  }
button{
    background-color: #303030;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 15px 0;
    width: 140px;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 8%;

}
.shake{
    animation: shake 0.5s infinite;
}
@keyframes shake{
    0%{
        transform: rotate(8deg);
    }
    50%{
        transform: rotate(-8deg);
    }
    100%{
        transform: rotate(8deg);
    }
}